body{
    margin:0;
    background:#f4f6f9;
    font-family:Arial;
}

.wrapper{
    display:flex;
}

.sidebar{
    width:250px;
    height:100vh;
    background:#111827;
    padding:25px;
}

.sidebar h2{
    color:white;
    margin-bottom:30px;
}

.sidebar a{
    display:block;
    color:white;
    text-decoration:none;
    padding:14px;
    margin-bottom:10px;
    border-radius:10px;
    transition:0.3s;
}

.sidebar a:hover{
    background:#2563eb;
}

.main-content{
    flex:1;
    padding:35px;
}

.dashboard-card{
    border:none;
    border-radius:18px;
    padding:25px;
    box-shadow:0 5px 15px rgba(0,0,0,0.12);
    transition:0.3s;
}

.dashboard-card:hover{
    transform:translateY(-6px);
}